body {
  background-color: #e6eeff;
}

.nav-link {
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
  position: sticky;
}

.elementPhoto img, .minePhoto img {
  width: 100%;
  height: 80%;
}

.windowsPhoto p {
  margin-bottom: 30px;
}

.row {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: justify;
}

.row .title, .row .author, .row .like {
  font-weight: bold;
}

.bg-menu {
  background-color: #F591E7;
}

.onePhoto {
  font-style: italic;
  color: black;
  text-decoration: none;
  margin-bottom: 15px;
}

.onePhoto .btn-secondary {
  background-color: #F591E7;
  font-size: 10px;
  text-align: right;
}
